<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/custom.css" />
  </head>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <main class="flex items_center">
      <div class="container flex box_shadow">
        <div class="left flex-46 flex">
          <img src="https://www.novative.com/wp-content/uploads/2020/11/Expense-Mgt-Software-Functionalities-2240x1120.jpg" alt="">
        </div>
        <div class="right flex-46 flex items_center">
          
          <div class="">
            <h1>Finance Management</h1>
            <div class="login flex justify_between items_center">
              <a href="/auth/google">
                <img src="/images/google.png" alt="google image">
              </a>
      
              <a href="/auth/github">
                <img class="github" src="/images/github.jpg" alt="github image">
              </a>
            </div>
    
            <div class="manual_login">
              <a href="users/login">
                Login ?
              </a>
              <a  href="users/register">
                <button class="register">Register</button>
              </a>
          </div>
          
        </div>
      </div>
    </main>
  </body>
</html>
